html,
body,
#__next {
  background-color: #0d1117;
  width: 100%;
}

.root {
  height: calc(100 * var(--vh));
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 0.05em 0 0.1em;
  vertical-align: -0.1em;
}
